.register-container{
    background-image: radial-gradient(rgb(243, 254, 246), rgb(231, 250, 231), rgb(175, 249, 213));
    height: 100vh;
}

.register-label{
    margin-top: 10px;
    margin-bottom: 10px;
}